
/*----------------------------  */

/* Homepage css */

.home-page {
  position: relative;
  height: 100vh;
  background-image: url("./bgImage.svg");
  background-repeat: no-repeat;
  background-size: cover;
  
}
.wName {
	position:absolute;
	font-family:'Helvetica';
	font-style:normal;
	font-weight:700;
	font-size:50px;
	line-height:143px;
	color:#000;
}
.home-page-btns{
  position: absolute;
  right:150px;
  bottom: 170px;
}
.journalButton {
  position: absolute;
  bottom:30px;
  right:150px;
	min-width: 245px;
  height: 126px;
  border-radius: 20px;
  border-style: none;
	background:linear-gradient(180deg,#FFAFD7 0%,#FFB5A6 51.11%,#FFC331 100%);
}
.stretchesButton {
  position: absolute;
  bottom:220px;
  right:-20px;
  width: 245px;
  height: 126px;
  border-radius: 20px;
  border-style: none;
	background:linear-gradient(159.67deg,#7C73AF 12.91%,#96F4F8 91.03%);
}

