@import "https://fonts.googleapis.com/css2?family=Nunito&display=swap";
@font-face {
  font-family: Nunito;
  src: url(Nunito-Regular.ttf);
}

@font-face {
  font-family: Nunito;
  src: url(Nunito-Bold.ttf);
  font-weight: bold;
} 
::-webkit-scrollbar {
width:5px;
height:5px;
}

::-webkit-scrollbar-thumb {
background:#7c73af;
border-radius:10px;
}

*, *:before, *:after {
  box-sizing: border-box;
  font-family: Nunito;
  font-weight: bold;
  color: 
}
.journal-page{
  display:flex;
  align-items: center;
  justify-content: center;
  height:100vh;
  background: #FAB7A7;
}

#home-button{
  position:absolute;
  width: 40px;
  left: 30px;
  top: 30px;
  z-index: 1;
}

.journal-page-content{
  height: 100%;
  min-width: 1100px;
  display:flex;
  align-items: center;
  justify-content: center;
}
.review{
  height:70%;
  width: 37%;
  background: white;
  margin:30px;
  border-radius:10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position:relative;
  max-width: 400px;
}
.review button{
  position:absolute;
  bottom:40px;
  right:40px;
}
.left-journal-section{
  width: 50%;
  display:flex;
  height: 70%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.journal-entries-container{
  height: 100%;
  display:flex; 
  align-items: center;
  flex-direction: column;
  width:100%;
  background: white;
  overflow-y: auto;
  border-radius:10px;
  background:none;
}

.input-container{
  display:flex;
  flex-direction: column;
  margin-top:15px;
  width: 100%;
  height: 100%; 
  border-radius:10px;
  color:434547;
}

.input-container textarea{
  padding-left:160px;
  resize: none;
  height: 100%; 
  width: 100%;
  padding-left:40px;
  padding-top:40px;
  background: #ffffff;
  color:#434547;
}

.input-date-btn-container{
  
}

.journal-entries-container button{
  padding:40px;
  margin-bottom:15px;
  width:100%;
  height:20px;
  border-radius: 10px;
  background:#fff0df;
}

/* textarea placeholder, make text go left, review content styling */