@font-face {
  font-family: Nunito;
  src: url(Nunito-Regular.ttf);
}

@font-face {
  font-family: Nunito;
  src: url(Nunito-Bold.ttf);
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
}
.stretches-page{
  display: flex;
}
.timer-section{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #7C73AF;
  width: 100%;
}
.timer-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.timer-container h3{
  color:white;
  font-size: 48px;
  margin-bottom: 50px;
  font-family: Nunito;
}
.timer{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:300px;
  height:300px;
  background: white;
  border-radius: 50%;
	background:linear-gradient(180deg,#FFAFD7 0%,#FFB5A6 51.11%,#FFC331 100%);
}

.time-number{
  font-family: Nunito;
  font-weight: bold;
  color: white;
  font-size: 35px;
}

.input-box{
  font-family: Nunito;
  font-weight: bold;
  height: 30px;
  margin-top: 35px;
}

#spacer {
  height: 30px;
}

.music-selection{
  display: flex;
  justify-content: space-evenly;
}
.music-selection img{
  height: 50px;
  width: 50px;
  margin-left: 40px;
  margin-right: 40px;
}

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  height: 100vh;
  background-color: #f7f6f7; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.7s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position:relative;
  top:-50px;
  font-size: 36px;
}

.sidenav {
  right: 0;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.sidenav {
  right: 0;
}

.openNavBtn{
  background-color: aqua;
  cursor: pointer;
  background: green;
  border: 1px solid black;
  padding: 5px;
}

#MySidenav {
  display:flex;
}

#sidenav-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 525px;
  height: 70vh;
}

.main-stretch{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  font-family: Nunito;

}

.main-stretch h3{
  font-size: 35px;
  color: #434547;
  margin-top: 30px;
}

.main-stretch ul{
  font-size: 20px;
  color: #434547;
}

.main-stretch-circle{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  padding: 20px;
  background-color: #7C73AF;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.stretch-buttons{
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  justify-content: center;
}
.stretch-buttons button{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 20px;
  padding: 10px;
  background-color: #7C73AF;
  position: relative;
}

.stretch-buttons button span {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%);
}

#start-clear-container{
  display: flex;
  justify-content: space-between;
  width: 450px;
}

#start-button{
  width: 100px;
  height: 100px;
  border-radius: 50%;
	background:linear-gradient(0deg,#7C73AF 20%,#96F4F8 120%);
  font-family: Nunito;
  font-weight: bold;
  color: white;
  font-size: 20px;
}

#clear-button{
  width: 100px;
  height: 100px;
  border-radius: 50%;
	background:linear-gradient(0deg,#7C73AF 20%,#96F4F8 120%);
  font-family: Nunito;
  font-weight: bold;
  color: white;
  font-size: 20px;
}