* {
  margin: 0;
  padding: 0;
}
.stretches-page{
  display: flex;
}
.timer-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #7C73AF;
  width: 100%;
}
.timer-container{
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.timer-container h3{
  color:white;
  font-size: 48px;
  margin-bottom: 50px;
}
.timer{
  width:250px;
  height:250px;
  background: white;
  border-radius: 50%;
  margin-bottom: 90px;
}
.music-selection{
  display: flex;
  justify-content: space-evenly;
}
.music-selection button{
  height: 50px;
  width: 50px;
  margin-left: 40px;
  margin-right: 40px;
}

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  height: 100vh;
  background-color: rgb(255, 255, 255); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.7s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidenav {
  right: 0;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.sidenav {
  right: 0;
}

.openNavBtn{
  background-color: aqua;
  cursor: pointer;
  background: green;
  border: 1px solid black;
  padding: 5px;
}

.main-stretch{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.main-stretch-circle{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #7C73AF;
}
.stretch-buttons{
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  align-items: center;
  justify-content: center;
}
.stretch-button{
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin: 10px;
  background-color: #7C73AF;

}